@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bricks+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="text"], input[type="email"], input[type="password"]{
  border: 1px solid gray;
  margin: 2px;
}
input[type="submit"] {
  border: 1px solid gray;
  padding:  0 10px;
  margin-top: 5px;
}
#bg_feed_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}